html {
  box-sizing: border-box;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-size: 17px;
  line-height: 28px;
  font-weight: normal;
  font-style: normal;
  background-color: #B0E0E6;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

.portfolio {
  margin: 0 auto;
  padding: 0 10px;
  width: 100%;
  max-width: 1440px;
}

.portfolio__caption {
  margin: 20px 0;
  text-align: center;
}

.portfolio__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.portfolio__item {
  margin: 10px;
  padding: 5px;
  width: calc(33.3% - 20px);
  border-radius: 5px;
  background-color: #F5F5F5;
}

.portfolio__item:hover {
  background-color: #F0F8FF;
}

/* .portfolio__item:nth-child(2n) {
  margin: 10px;
} */

.portfolio__item-caption {
  margin: 5px 0 10px 0;
  text-align: center;
}

/* .portfolio__img {
  border-radius: 5px;
} */

.portfolio__row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio__link {
  text-decoration: none;
  color: #000000;
  width: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 22px;
}

.portfolio__link:hover,
.portfolio__link:active,
.portfolio__link:focus {
  cursor: pointer;
  opacity: 0.6;
}

@media (max-width: 599px) {
  .portfolio__item {
    width: calc(50% - 20px);
  }

  .portfolio__item-caption {
    font-size: 1.2em;
  }

  .portfolio__link {
    font-size: 17px;
  }
}
